// Fonts
// -----------------------------

@font-face {
    font-family: 'AvenirNextUltraLight';
    src: url('../fonts/AvenirNextLTPro-UltLt.otf');
}

@font-face {
    font-family: 'AvenirNextRegular';
    src: url('../fonts/AvenirNextLTPro-Regular.otf');
}

@font-face {
    font-family: 'AvenirNextMedium';
    src: url('../fonts/AvenirNextLTPro-Medium.otf');
}



