// Style
// -----------------------------

@import "fonts";
@import "variables";
@import "components/navbar";

@import "pages/project";

body {
  font-family: $fontRegular;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased
}

ul {
  margin: 0px;
}

li {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

.heading--main{
  position: relative;
  font-family: $fontLight;
  font-weight: 100;
  text-transform: uppercase;
  color: white;
  font-size: 128px;
  letter-spacing: 140px;
  text-align: center;
  margin: 0 0 0 96px;
}

.content{
  position: absolute;
  top:0;
  left:80px;
  right: 0;

  .work {
    padding: 100px;
  }
}

.hero {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FF5BC3;
  background: url('../images/hero.png');
  background-size: cover;
}

.projects {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  transform: translateX(-100%);
  z-index: 2;
  visibility: hidden;
  transition: transform 300ms;
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-delay: 100ms;
  background: white;

  &.visible {
    visibility: visible;
    transform: translateY(0%);
    transition-delay: 300ms;
  }

  &.full-width ul {
  padding-left: 0px;
  }

  ul {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    transition: all 250ms cubic-bezier(0.7, 0, 0.3, 1);
    padding-left:380px;
    overflow: hidden;
  }

  .project {
    height: 72vh;
    display: flex;
    transform: scale(1);
    transition: all 300ms cubic-bezier(0.7, 0, 0.3, 1);

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      z-index: 1;
      background-size: cover;
      transition: all 300ms cubic-bezier(0.7, 0, 0.3, 1);
      padding: 64px;

      span {
        opacity: 0;
        z-index: 1;
        font-size: 4vw;
        letter-spacing: 64px;
      }

      &:after {
        content:"";
        position: absolute;
        top: 0;
        left:0;
        right: 0;
        bottom:0;
        transition: all 300ms cubic-bezier(0.7, 0, 0.3, 1);
      }
    }

    &.active {
      height: 100vh;
      transform: scale(1) !important;
    }

    &.hidden {
      opacity: 0;
      visibility: hidden;
    }

    &:hover {
      transform: scale(1.1);

      span {
        opacity: 1;
      }

      a:after {
        background: rgba(0,0,0,.64);
      }
    }
  }
}
