// Nabar
// -----------------------------


$site-nav-width: 300px;
$site-header-width: 80px;


.site-header {
  position:fixed;
  height: 100%;
  width: $site-header-width;
  top: 0;
  left: 0;
  transition: width 320ms cubic-bezier(0.7, 0, 0.3, 1);
  z-index:99999;

  &.expanded {
    width: $site-nav-width + $site-header-width;
  }
}

.site-header__inner {
  position: absolute;
  width: $site-header-width;
  height: 100%;
  z-index: 2; 
  background: white;

  .title, .about {
    position: absolute;
    transform: rotate(270deg);
    transform-origin: 100% 50%;
    right: 40px;
    white-space: nowrap;
  }

  .title {
    bottom: 16%;
  }

  .about {
    top: 4%;
    color: $light-grey;
  }
}

.site-nav {
  position: absolute;
  height: 100%;
  width: $site-nav-width;
  margin-left: 80px;
  background: white;
  border-left: 1px solid rgba(0,0,0,.08);
  box-shadow: 5px 0px 10px 1px rgba(0,0,0,.08);
  transform:translateX(-100%);
  transition: all .3s cubic-bezier(0.7, 0, 0.3, 1);


  &.active {
    transform:translateX(0%);

    li {
      animation: fadeUp 500ms cubic-bezier(0.7, 0, 0.3, 1);
      animation-delay: 200ms;
      animation-fill-mode:forwards;
      cursor:pointer;

      a {
        transition: all .2s cubic-bezier(0.7, 0, 0.3, 1);
        transform: scale(1);
        display: inline-block;
        color: $light-grey;

        &:hover  {
          transform: scale(1.1);
          color: black;        
        }
      }
    
      &.active a {
        color: black;  
      }
    }
  }

  ul.primary {
    position: absolute;
    top: 10%;
    padding-left:48px;
  }

  ul.secondary {
    position: absolute;
    bottom: 24px;
    padding-left:48px;
  }

  li {
    opacity:0;
    font-size: 20px;
    margin-bottom: 48px;
  }
}

.expand-site-nav {
  position:absolute;
  top: 50%;
  background: white;
  width:64px;
  height: 64px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,.16);
  transform: translateY(-50%) scale(1.0);
  right: -32px;
  cursor: pointer;
  z-index: 3;
  transition: all 200ms cubic-bezier(0.7, 0, 0.3, 1);

  &:hover {
    transform: translateY(-50%) scale(1.05);
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,.16);
  }


  .bars {
    position: absolute;
    top: 34px;
    left: 20px;
  }

  .bar {
    position: absolute;
    display: block;
    height: 1px;
    width: 24px;
    background: #3076FF;
    transition: all 300ms cubic-bezier(0.7, 0, 0.3, 1);

    &:nth-of-type(1), &:nth-of-type(3) {
      transition-delay: 0.3s, 0s;
    } 
    
    &:nth-of-type(1){
      width: 20px;
      top: -8px;
      transform: rotate(0deg);
      transition-property: top, transform;
    }

    &:nth-of-type(2){
      opacity: 1;
      transition-property: opacity;
      transition-duration: 300ms;
      transition-delay: 300ms;

    }

     &:nth-of-type(3){
      margin: 0;
      width: 16px;
      bottom: -8px;
      transform: rotate(0deg);
      transition-property: bottom, transform;
    }
  }

  &.close .bar {
    width:24px;
    transition-delay: 0s, 0.3s;
  }

  &.close .bar:nth-of-type(1) {
    top: -1px;
    transform: rotate(45deg);
  }

  &.close .bar:nth-of-type(2) {
    opacity: 0;
  }

  &.close .bar:nth-of-type(3) {
    bottom: 0px;
    transform: rotate(-45deg);
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform:translateY(250%)
  }
  100% {
    opacity: 1;
    transform:translateY(0%)
  }
}


