doctype html
html
  head
    title= title
    link(rel='stylesheet', href='../../styles/style.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
  body
  form(action="/" method="POST")
    input(type="text" placeholder="name" name="name")
    input(type="text" placeholder="quote" name="projects")
    button(type="submit">"Submit")
